html,div,span,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,del,em,img,small,strong,ol,ul,li,label,table{border:0;vertical-align:baseline;margin:0;padding:0}html{scroll-behavior:smooth;height:100%}body{position:relative;font:normal 16px/1.9em "Inter UI", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;margin:0;padding:0;height:100%}h1{font-style:normal;font-size:45px;font-weight:normal;vertical-align:baseline;margin:0;padding:0}a{
}a:hover{
}p{margin-bottom:2em}.siteHead-logoMark{height:13px;width:24px;position:relative;top:2px}.prez {
    color: #a177af;
    text-decoration: none;
}
.prez a:hover {
    color: white;
}
@media all and (max-width: 480px){}.ampersand{font-family:Baskerville, "EB Garamond", serif;font-style:italic}.single-page-header{font-family:"EB Garamond",serif;font-size:42px;font-weight:400;line-height:1.3em}.gridItemButton{
    position: absolute;
    top: 0;
    right: 0px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: #a177af;
    color: #fff;
    font-size: 15px;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    -webkit-box-shadow: 2px 2px #36233C;
    box-shadow: 2px 2px #36233C;
    /* [disabled]width: 100%; */
    left: 0px;
}.grid-item:hover .gridItemButton{transform:scaleY(1) translateZ(0);transition:transform 0.35s cubic-bezier(0.19, 1, 0.22, 1)}.gridItemButtonLabel{transform:translateY(-15px);transition:transform 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;display:block;opacity:0}.grid-item:hover .gridItemButtonLabel{transform:translateY(0);opacity:1}.section-header{
    font-family: 'Source Sans Pro', sans-serif;


: 'Source Sans Pro', sans-serif;
;
    font-size: 110px;
    font-weight: 650;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
    color: #a177af;
    text-shadow: 2px 2px #36233C;
}@media all and (max-width: 600px){.section-header{font-size:25vw}}.wrapper{position:relative;margin:0 auto}.content-wrapper{
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding: 20px
}@media all and (max-width: 900px){.content-wrapper{padding-right:30px;padding-left:30px}}@media all and (max-width: 600px){.content-wrapper{padding-right:0;padding-left:0;padding-bottom:0}}.grid-items{
    display: flex;
    flex-flow: row wrap;
}.grid-item{flex:1 50%;padding:0 50px 40px;box-sizing:border-box;min-height:650px;position:relative;overflow:hidden;flex-direction:column;justify-content:center;display:flex;text-align:center}.grid-item:hover .case-item-header{transform:translate3D(0, -6px, 0)}.grid-item:hover .grid-item-divider{transform:scaleX(1) translate3D(0, 6px, 0)}.grid-item:hover .case-item-content{transform:translate3D(0, 6px, 0)}.grid-item:hover .grid-item-text{transform:translate3D(0, 8px, 0)}@media all and (max-width: 900px){.grid-item{padding-top:80px;padding-left:35px;padding-right:35px;padding-bottom:80px}}@media all and (max-width: 800px){.grid-item{flex:1 100%;min-height:initial}}@media all and (max-width: 600px){.grid-item{padding-left:30px;padding-right:30px}}@media all and (max-width: 480px){.grid-item{padding-left:20px;padding-right:20px}}.gridItemLink{position:absolute;top:0;left:0;bottom:0;right:0;z-index:100}.grid-item-wide{flex:1 100%;min-height:575px;padding-bottom:20px}.case-item-bg{animation:fade-In 0.6s ease-out;transition:transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);background-size:cover;background-position:center center;position:absolute;top:0;left:0;right:0;bottom:0}.case-item:hover .case-item-bg{transform:scale3D(1.04, 1.04, 1)}.case-item-header{
    font: normal 62px/1.1 "EB Garamond", serif;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    position: relative;
    z-index: 10;
    text-shadow: 2px 2px #1C1B1B;
}@media all and (max-width: 1000px){.case-item-header{font-size:56px}}@media all and (max-width: 900px){.case-item-header{font-size:52px}}@media all and (max-width: 480px){.case-item-header{font-size:42px}}@media all and (max-width: 800px){.grid-item-wide .case-item-header{margin-top:0}}.grid-item-text{
    max-width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.9em;
    position: relative;
    z-index: 10;
    padding-top: 1em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-family: 'Playfair Display', serif;
    ;
    font-weight: 600;
}.grid-item-wide .grid-item-text{max-width:40%}@media all and (max-width: 800px){.grid-item-text,.grid-item-wide .grid-item-text{max-width:90%;padding-bottom:40px}}.grid-item-divider{display:block;position:relative;height:3px;background-color:currentColor;width:60px;right:0;margin:70px auto 10px;transform:scaleX(0.8);transition:transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)}.grid-item-divider-left{margin-left:0;right:initial}.grid-item-text-left{max-width:70%;margin:0 0 2em}.text-pink{color:#e8c3b9}.text-pink::after{background-color:#e8c3b9}.text-darkgreen{color:#244a53}.text-darkgreen::after{background-color:#244a53}.text-red{color:#bf615e}.text-red::after{background-color:#bf615e}.text-lightblue{color:#99bec7}.text-lightblue::after{background-color:#99bec7}.text-darkblue{color:#2b2f3c}.text-darkblue::after{background-color:#2b2f3c}@-webkit-keyframes rotateplane{0%{-webkit-transform:perspective(120px)}50%{-webkit-transform:perspective(120px) rotateY(180deg)}100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}}@keyframes rotateplane{0%{-webkit-transform:perspective(120px) rotateX(0) rotateY(0);transform:perspective(120px) rotateX(0) rotateY(0)}50%{-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0);transform:perspective(120px) rotateX(-180.1deg) rotateY(0)}100%{-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}@keyframes fade-In{0%{opacity:0}100%{opacity:1}}.menu{position:absolute;top:2.7vmin;left:2.8vmin;z-index:1003;outline:none;-webkit-tap-highlight-color:transparent;width:23px;padding:10px}.menu-icon-line{display:block;height:2px;width:100%;background-color:#a5acbc;margin-bottom:4px;border-radius:2px;transition:transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),opacity 0.2s ease-out;transform:translateZ(0)}.menu:hover>.menu-icon-line{background-color:#8591ac;transform:scaleX(1.2)}.menu-active>.menu-icon-line-1,.menu-active:hover>.menu-icon-line-1{-webkit-transform:translateY(6px) rotateZ(-135deg);transform:translateY(6px) rotateZ(-135deg);background-color:#fff}.menu-active>.menu-icon-line-2,.menu-active:hover>.menu-icon-line-2{opacity:0;background-color:#fff}.menu-active>.menu-icon-line-3,.menu-active:hover>.menu-icon-line-3{-webkit-transform:translateY(-6px) rotateZ(135deg);transform:translateY(-6px) rotateZ(135deg);background-color:#fff}.site-search{position:absolute;top:2vmin;right:3vmin;z-index:1003;padding:10px 5px}.site-search-icon{display:block}.site-search-icon-circle{stroke:#a6adba}.site-search-icon-line{fill:#a6adba}.site-search-close-icon{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0}.site-search-close-icon-line{position:absolute;height:2px;width:70%;left:0;right:0;background-color:#fff;border-radius:2px;top:40%;margin:auto;transform:rotateZ(45deg) scale(0.8);opacity:1}.site-search-content-results{text-align:left}.site-search-results-item{color:inherit;text-decoration:none;font-weight:600;font-size:42px;display:block;padding:40px;line-height:1.4em}.site-search-results-item:hover{color:inherit}@media (max-width: 700px){}.site-nav-animated-background{position:absolute;width:800px;height:800px;background-color:#1f4954;border-radius:50%;pointer-events:none;-webkit-transform:scale(0, 0);transform:scale(0, 0);z-index:1001}.menu-animated-background{top:-358px;left:-358px}.site-search-animated-background{top:-358px;right:-358px}.site-nav-animation-wrapper{overflow:hidden;position:fixed;width:100%;height:100%;z-index:1000;top:0;pointer-events:none}@media (max-width: 700px){}.siteSearchInput{background-color:transparent;border-radius:0;border:none;border-bottom:2px solid #fff;display:block;font-size:36px;font-weight:200;width:100%;padding:20px 20px 20px 0;box-sizing:border-box;color:#fff;outline:none;opacity:0}.siteSearchInput::placeholder{color:rgba(255,255,255,0.5)}@media (max-width: 700px){.siteSearchInput{font-size:5.1vw;padding:15px 15px 15px 20px}}.site-nav-overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1002;text-align:center;font-size:40px;font-family:Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif;font-weight:bold;opacity:0;color:#fff;pointer-events:none;background-color:#1f4954;overflow:hidden}.site-nav-overlay-search{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1002;text-align:left;font-family:Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif;font-weight:bold;opacity:0;color:#fff;pointer-events:none;background-color:#1f4954;overflow:scroll}.site-nav-active{pointer-events:initial}.nav-content{width:620px;max-width:100%;margin:40px auto;margin-top:18vh;padding:0 60px;box-sizing:border-box}@media all and (max-width: 600px){.nav-content{padding-right:30px;padding-left:30px;font-size:32px}}@media all and (max-height: 720px){.nav-content{margin-top:15vh;font-size:32px}}@media all and (max-height: 600px){.nav-content{margin-top:10vh}}@media all and (max-height: 500px){.nav-content{margin-top:6vh}}.nav-header{width:100%;margin:0 auto;font-size:11px;text-transform:uppercase;letter-spacing:0.4em;font-weight:bold;position:relative;transform:translateZ(0)}.nav-header-line{display:block;height:2px;width:100%;z-index:-1;background-color:#fff;position:absolute;top:12px;-webkit-transform:scaleX(.3);transform:scaleX(.3)}.nav-header-text{padding:0 10px;z-index:1;position:relative;background-color:#1f4954}.nav-categories{padding:20px 0 30px;list-style-type:none;overflow:hidden;margin:0 auto;-webkit-transform:translateZ(0);transform:translateZ(0)}.nav-category{padding:0;position:relative;display:block}.nav-link{display:inline-block;color:inherit;padding:27px 20px 30px;letter-spacing:1px;text-decoration:none;transition:color 0.25s ease-in-out;transform:translateZ(0)}.nav-link:hover{color:#566871}.nav-link:hover::after{transform:scaleY(1)}.nav-link::after{content:"";background-color:#fff;width:100%;height:100%;position:absolute;bottom:0;left:0;transform:scaleY(0);transform-origin:0 100%;transition:all 0.25s ease-in-out;z-index:-1}@media all and (max-height: 720px){.nav-link{padding-top:20px;padding-bottom:20px}}@media all and (max-height: 550px){.nav-link{padding-top:15px;padding-bottom:15px}}@media all and (max-height: 450px){.nav-link{padding-top:10px;padding-bottom:10px}}.nav-sublinks{font-size:0.4em;color:#80bece;padding-top:30px;padding-bottom:30px;border-top:2px solid #3e6c78;border-bottom:2px solid #3e6c78;width:100%;text-align:center}@media all and (max-height: 550px){.nav-sublinks{padding-top:20px;padding-bottom:20px}}@media all and (max-height: 450px){.nav-sublinks{padding-top:10px;padding-bottom:10px}}.nav-sublink{color:inherit;text-decoration:none;display:inline-block;padding:10px 0;width:32%;vertical-align:middle}.nav-sublink:hover{color:#3e6c78}.nav-sublink::after{background-color:#80bece}.no-scroll{overflow:hidden;position:fixed;height:100%;width:100%}.contact-card a,.contact-card a:hover{color:inherit}.contact-card .case-item-header{text-decoration:none;display:block}.contact-card .case-item-header:hover{
    text-decoration: underline;
    color: #A176AF;
}.contact-info{
    color: #fff;
    padding-top: 75px;
    padding-right: 55%;
    padding-left: 50px;
    background-color: #1E1E1E;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 21px;
    min-height: 575px;
}@media all and (max-width: 800px){.contact-info{padding-right:50px;height:auto}}@media all and (max-width: 480px){.contact-info{padding-right:30px;padding-left:30px}}.contact-picture{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #878787;
    min-height: 575px;
}.contact-picture .case-item-bg{background-position:center bottom}@media all and (max-width: 800px){.contact-picture{width:100%;left:-50px;padding-left:50px;padding-right:inherit;height:400px;position:relative;display:block}}@media all and (max-width: 600px){.contact-picture{height:350px}}.contact-link{padding:4px;margin-right:5px;display:inline-block;margin-bottom:55px;vertical-align:top}.contact-icon{width:30px;height:30px;display:inline-block}.case-item-icon{max-width:100%;max-height:100%;position:relative}.carbon-img{position:absolute;left:10px;top:10px;display:block}.carbon-img>img{background-color:#ddd}.carbon-text{padding:5px 0;display:block;color:#333;text-decoration:none}.carbon-poweredby{font-size:0.9em;display:block;margin-top:0.5em;color:#333;text-decoration:none}.carbon-ad-container{position:absolute;right:20px;bottom:20px}#carbonads{padding:120px 8px 8px 10px;box-shadow:0 1px 1px rgba(0,0,0,0.4);background-color:rgba(255,255,255,0.5);border-radius:4px;margin:0 auto;max-width:130px;min-height:105px;font-size:12px;line-height:1.5em;margin-top:0;position:relative}@media (max-width: 600px){.carbon-ad-container{right:0;left:0;bottom:15px}#carbonads{padding:4px 4px 4px 150px;text-align:left;margin-top:0;font-size:11px}.carbon-img{left:7px;top:7px}}.blogCategories{margin-top:0;text-align:center;font-weight:800;padding-bottom:0px;padding-top:30px;font-size:24px}@media (max-width: 340px){.blogCategories{font-size:20px}}.blogCategories+.grid-items{margin-top:0}.blog-categories-active-all-posts .blog-category-all-posts,.blog-categories-active-design .blog-category-design,.blog-categories-active-tutorials .blog-category-tutorials,.blog-categories-active-css .blog-category-css,.blog-categories-active-animation .blog-category-animation,.blog-categories-active-resources .blog-category-resources{color:#fff}.blog-categories-active-all-posts .blog-category-all-posts::after,.blog-categories-active-design .blog-category-design::after,.blog-categories-active-tutorials .blog-category-tutorials::after,.blog-categories-active-css .blog-category-css::after,.blog-categories-active-animation .blog-category-animation::after,.blog-categories-active-resources .blog-category-resources::after{transform:scaleY(1)}.blog-banner{text-align:center;position:relative;z-index:10}.post-description{margin:0 auto 40px;max-width:80%;width:80%;max-width:600px}.blog-banner-content{margin:40px 0}@media (max-width: 600px){.blog-banner-content{margin-top:0}}.post-preview{background-color:#000;color:#fff;min-height:600px}.post-preview::first-child{flex:1 100%}.post-preview:nth-child(3n+1){flex:1 100%}@media (max-width: 800px){.post-preview{flex:1 100%;padding-left:0;padding-right:0}}.post-categories{font-size:10px;font-family:Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif;margin:20vh auto 3vh;text-transform:uppercase;letter-spacing:2px;color:#bbb;text-align:center;padding:0 45px}.post-categories:before{content:"• • •";display:block;margin:0 auto 15px;font-size:14px}.post-categories>a{color:inherit;text-decoration:none}.post-categories>a:hover{text-decoration:underline}.single-post{clear:both;position:relative;color:#292929;font-size:16px;line-height:1.9em;overflow:hidden}.single-post-head{text-align:center;color:#fff;padding:21vh 20px 42vh;position:relative}@media (max-width: 600px){.single-post-head{padding-bottom:55vh}}.article-single{margin-top:60px}.article-single .blog-banner{margin-top:-42vh;margin-bottom:42vh;height:1px}@media (max-width: 600px){.article-single{margin-top:4vh}.article-single .blog-banner{margin-top:-52vh;margin-bottom:52vh}}.post-preview-header{font-size:48px;max-width:70%;margin:60px auto 0.65em}@media all and (max-width: 600px){.post-preview-header{font-size:9.5vmin;max-width:80%}}.article>p:first-child::first-letter,.article script+p::first-letter,.article .blog-banner+p::first-letter{line-height:0.6em;float:left;padding:0.78em 0.65em;font-size:3em;font-weight:bold;background-color:#000;color:#fff;margin-right:10px;margin-top:8px}.article>h2{margin:3em auto 1.5em;font-size:1.7em;font-weight:400;max-width:700px;padding-left:20px;padding-right:20px}.article>img+h2,.article>.highlight+h2,.article>.post-demo-content+h2{margin-top:2.5em}.article>h3{margin:2em auto 1em;font-size:1.4em;max-width:700px;padding-left:20px;padding-right:20px}.article>h4{margin:1em auto;font-size:1em;line-height:1em;max-width:700px;padding-left:20px;padding-right:20px}.article p img{width:900px;max-width:100vw;margin-left:-100px;vertical-align:bottom}.article>video{padding:0 0 2em;width:900px;max-width:100%;outline:0;margin:auto;display:block}.article>p{margin:0 auto 2em;max-width:700px;padding-left:20px;padding-right:20px}.article>p>code{background-color:#f4f4f6;border:1px solid #eee;border-radius:3px;padding:3px 4px 3px 4px}.article .alignright{width:auto;float:right;margin:6px 0 15px 15px}.article .alignleft{width:auto;float:left;margin:6px 10px 0 0}.article>ul,.article>ol{margin:0 auto 2em;max-width:700px;padding-left:20px;padding-right:20px}.article blockquote{margin:0 auto 2em;max-width:700px;padding-left:4em;padding-right:4em;padding-top:4em;box-sizing:border-box}.article blockquote>p{font-weight:400;font-size:22px;line-height:1.6em;font-style:italic}.article blockquote>p:first-child{position:relative}.article blockquote>p:first-child:before{position:absolute;content:'“';font-size:100px;font-weight:400;font-style:normal;display:block;top:-0.18em;left:0;font-family:"EB Garamond",serif;height:56px;width:56px;background-size:contain;background-repeat:no-repeat}.article li{margin:0.5em 0}.article ul>li{list-style-type:square}.article embed{width:100%;max-width:700px}@media (max-width: 900px){.article p img{height:auto;margin-left:-20px;max-width:calc(100% + 40px)}.article>ol,.article>ul{list-style-position:inside}.article>video{max-width:100%;width:100%;margin-left:0;margin-right:0;padding-left:0;padding-right:0}.article blockquote{padding-right:2em;padding-left:2em}.article blockquote>p{font-size:19px}}.article-table{margin:0 auto 2em;width:100%;max-width:700px}@media all and (max-width: 840px){.article-table{font-size:0.9em;margin-left:0;max-width:840px;padding-left:4em;padding-right:4em}}.outlined-button{
    font-size: 16px;
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-style: italic;
    text-decoration: none
}.outlined-button:hover{
    color: #fff
}div.highlight{background-color:#f4f4f6;border-top:1px solid #eee;border-bottom:1px solid #eee;padding:2em;position:relative;width:100%;overflow-x:scroll;margin-bottom:2em;line-height:1.5em;box-sizing:border-box;-webkit-transform:translateZ(0)}div.highlight>pre{max-width:700px;font-size:15px;line-height:1.5em;margin:0 auto}.post-demo-content{background-color:#f4f4f6;padding:2em;margin-bottom:2em;border-top:1px solid #eee;border-bottom:1px solid #eee;text-align:center}.article-preview>p{margin-left:0;margin-right:0}.article-preview img{max-width:none}.aligncenter{display:block;margin:0 auto}.center-content{text-align:center}.spinner{display:block;margin:0 auto;height:24px;width:24px;background:url(/images/spinner.gif) center center no-repeat;margin-bottom:80px}.animate-in{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}.page-not-found{text-align:center;max-width:600px;margin:90px auto}@media all and (max-width: 800px){.highlight>pre{font-size:13px}}@media all and (max-width: 700px){.post-header{font-size:8vw}.single-post{font-size:15px}}@media all and (max-width: 480px){.single-post{font-size:13px}}@media (max-width: 900px){.section-header-subscribe{font-size:19vw}}.newsletter-content{flex:1 50%;padding:75px 50px;box-sizing:border-box}@media (max-width: 800px){.newsletter-content{flex:0 0 100%}}@media (max-width: 800px){.newsletter-content-left{padding-bottom:0}}.newsletter-content-right{background-color:#9ba5b5;padding:50px 50px}@media (max-width: 800px){.newsletter-content-right{background-color:transparent;padding-top:0}}.newsletter-signup label{display:none}.newsletter-signup-container{background-color:#2b2f3c;color:#fff;position:relative;display:flex;flex-wrap:wrap}.newsletter-signup .mc-field-group{display:inline}#mce-EMAIL{width:100%;box-sizing:border-box;font-size:21px;padding:20px 10px 15px 0;border:0;background-color:inherit;color:inherit;outline:none;position:relative}#mce-EMAIL::placeholder{transition:opacity 0.3s ease-out;color:inherit;opacity:0.7}#mce-EMAIL:focus::placeholder{opacity:0.5}#mce-EMAIL:focus+.newsletter-input-border:after{transform:scaleX(1)}.newsletter-input-border{border-top:3px solid rgba(255,255,255,0.4);display:block;position:relative;width:100%;height:1px}.newsletter-input-border:after{content:"";position:absolute;display:block;top:-3px;left:0;width:100%;height:3px;background-color:#fff;transition:transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);transform-origin:0 0;transform:scaleX(0)}#mc-embedded-subscribe-form{margin-top:31%;margin-left:auto;margin-right:auto;max-width:400px}@media (max-width: 800px){#mc-embedded-subscribe-form{margin-top:0;max-width:100%}}.newsletter-signup-button{margin:0 auto;color:#fff;background-color:#000;border:0;font-family:inherit;padding:23px 33px;font-size:14px;cursor:pointer;-webkit-appearance:none;margin-top:15px;float:right}.layout-single-page{
    text-align: center;
}.single-page-intro{padding-top:200px;padding-bottom:100px}@media all and (max-width: 480px){.single-page-intro{padding-top:150px;padding-bottom:50px}}@media all and (max-width: 480px){.single-page-header{font-size:32px;margin-right:20px;margin-left:20px}}.single-page-content{margin:40px 50px;font-size:24px;font-weight:400;line-height:1.6em}.single-page-content p{max-width:900px;margin-right:auto;margin-left:auto}@media all and (max-width: 600px){.single-page-content{font-size:22px;margin:40px}}@media all and (max-width: 480px){.single-page-content{font-size:17px;margin:25px}}.centered-items{text-align:center;margin-top:4em;margin-bottom:4em;font-family:Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif}.centered-item{display:inline-block;list-style:none;text-align:center;padding:20px 10px}.centered-item svg{min-height:60px;max-height:62px;width:100%;max-width:170px;display:inline-block;opacity:0.8}.centered-item path{fill:#000}@media all and (max-width: 600px){.centered-item{display:block}}@media all and (max-width: 410px){.centered-item{display:block}.centered-item svg{min-height:60px;max-height:62px;max-width:170px}}.centered-item-title{font-size:0.8em}.centered-item-description{font-size:0.7em;font-weight:300;font-style:italic;line-height:1.2em}.speaking-logo-grid{max-width:1200px;margin:4em auto}.speaking-logo-grid img{vertical-align:middle;margin:20px;max-width:23%}@media all and (max-width: 480px){.speaking-logo-grid img{margin:10px}}.underlined{background-image:url(/images/underline-medium.png);background-size:100% 1.4em;background-repeat:no-repeat;padding-left:20px;margin-left:-20px;padding-right:20px;margin-right:-20px;color:inherit;text-decoration:inherit}a.underlined{cursor:pointer;z-index:1}a.underlined:hover{color:#444}.underlined-short{background-image:url(/images/underline-short.png)}.layout-portfolio{text-align:center;font-size:16px;font-family:Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif;height:100%}.site-header-portfolio{position:absolute;width:100%}.heroSection{
    height: 100%;
    position: relative;
    margin-top: 0;
    padding-top: 2vh
}.portfolio-intro-header{position:absolute;padding:0 20px;top:38.5%;left:0;right:0}.portfolio-intro-subheader{position:absolute;padding:0 20px;top:34.5%;left:0;right:0;text-transform:uppercase;font-size:11px;letter-spacing:5px;font-weight:600}.gridItems-peak{margin-top:-180px}.case-item-header-ml-letter{display:inline-block;line-height:1em}.case-item-ml-text-wrapper{position:relative;display:inline-block;padding-top:0.2em;padding-right:0.05em;padding-bottom:0.2em;overflow:hidden}.case-item-content{margin-top:50px;margin-bottom:20px;transition:transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)}.case-item-spotify{background-color:#35936c;color:#fff;padding-bottom:160px}.case-item-spotify .case-item-bg{background-position:center bottom}.case-item-spotify .icon-spotify{width:80px;height:80px}.case-item-spinkit{background-color:#e9c3b8}.content-spinkit{width:60px;height:60px;background-color:#fff;display:inline-block;-webkit-animation:rotateplane 1.2s infinite ease-in-out;animation:rotateplane 1.2s infinite ease-in-out}.case-item-minecraft{
    color: #fff;
    background-color: #838383
}.case-item-hi{background-color:#d7e0e5}.case-item-hi .case-item-bg{background-size:contain;background-repeat:no-repeat;background-position:center 440px}.case-item-hi .icon-hi{height:50px}@media all and (max-width: 800px){.case-item-hi{padding-bottom:30px}}.case-item-lookback .case-item-bg{opacity:0.8}.content-lookback{width:400px;height:300px;position:absolute;left:0;bottom:0}.case-item-designpriset{color:#fff;background-color:#000;padding-bottom:80px}.case-item-gh{background-color:#9ba5b6;color:#fff}.case-item-gh .icon-github{width:90px;height:90px}.case-item-typesource{background-color:#1a1a1a;color:#fff}.content-typesource{position:absolute;bottom:-25px;right:15%;width:140px;height:290px}.case-item-moving-letters{
    background-color: #4F4F4F;
    color: #fff
}.collection-project-preview-moving-letters{width:50%;bottom:30%;right:28%;position:absolute}@media all and (max-width: 900px){}.highlight .hll{background-color:#ffc}.highlight .c{color:#999988;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{color:#000000;font-weight:bold}.highlight .o{color:#000000;font-weight:bold}.highlight .cm{color:#999988;font-style:italic}.highlight .cp{color:#999999;font-weight:bold;font-style:italic}.highlight .c1{color:#999988;font-style:italic}.highlight .cs{color:#999999;font-weight:bold;font-style:italic}.highlight .gd{color:#000000;background-color:#fdd}.highlight .ge{color:#000000;font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000000;background-color:#dfd}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{color:#000000;font-weight:bold}.highlight .kd{color:#000000;font-weight:bold}.highlight .kn{color:#000000;font-weight:bold}.highlight .kp{color:#000000;font-weight:bold}.highlight .kr{color:#000000;font-weight:bold}.highlight .kt{color:#445588;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d01040}.highlight .na{color:teal}.highlight .nb{color:#0086B3}.highlight .nc{color:#445588;font-weight:bold}.highlight .no{color:teal}.highlight .nd{color:#3c5d5d;font-weight:bold}.highlight .ni{color:purple}.highlight .ne{color:#990000;font-weight:bold}.highlight .nf{color:#990000;font-weight:bold}.highlight .nl{color:#990000;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{color:#000000;font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d01040}.highlight .sc{color:#d01040}.highlight .sd{color:#d01040}.highlight .s2{color:#d01040}.highlight .se{color:#d01040}.highlight .sh{color:#d01040}.highlight .si{color:#d01040}.highlight .sx{color:#d01040}.highlight .sr{color:#009926}.highlight .s1{color:#d01040}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}

.antispam {
	display: none;
}

.case-item-spinkit1{
    background-image: url(images/three.png);
    background-size: cover;
    background-color: #A8A8A8;
}



:root {
	duration: 900ms;
	iterations: 1;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 0.5s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 900ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	font-size: 8vw;
	animation-name: clip-text;
	color: black;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}


@use postcss-preset-env {
  stage: 0;
  grid: true;
  browsers: last 2 versions
}


.case-item-spinkit2{
    background-image: url(images/html11.jpg);
}

.case-item-spinkit3{
    background-image: url(images/github.jpg);
}
.case-item-spinkit4{
    background: black;
}

.case-item-spinkit{
	background-color:#838383}

.case-item-minecraft1{
    color: #fff;
    background-color: #838383;
    background-image: url(images/back_three.png);
    background-size: cover;
}
.case-item-minecraft2{
    color: #fff;
    background-color: #4F4F4F;
    background-image: url(images/github-clear.png);
}
.case-item-minecraft3{
    color: #fff;
    background-color: #1E1E1E;
    background-image: url(images/looking-code.png);
    background-size: cover;
}

.case-item-minecraft4{
    color: #fff;
    border: 14px solid #000000;
}

.case-item-minecraft5{
    color: #fff;
    background-color: #000000;
}

form {
    max-width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.9em;
    position: relative;
    z-index: 10;
    padding-top: 1em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-family: 'Playfair Display', serif;
    ;
    font-weight: 600;
}

.navbar {
  overflow: hidden;
}

.navbar a {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #a177af;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
}

.dropdown-content {
    display: none;
    position: static;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
